<ion-header style="background:#10dc60">
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>

        <ion-title class="topoTitulo">Pedidos de Clientes</ion-title>
    </ion-buttons>
</ion-header>
<ion-content>
    <ion-refresher
        slot="fixed"
        (ionRefresh)="doRefresh($event)"
    >
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-list *ngFor="let clientes of cliente">
        <button
            class="card"
            (click)="mandarCliente(clientes)"
        >
            <ion-card>
                <ion-img
                    [src]="serviceUrl.url + clientes.foto"
                    style="height: 100px; width:150px"
                ></ion-img>

                <h1 style="margin-top:35px;width:150px"></h1>

                <p style="font-weight: bold; ">
                    <span style="text-transform:capitalize">{{ clientes.nome }}</span>
                    acaba
        de solicitar alguns produtos.
                </p>

                <p style="font-weight: bold">Seu código é</p>
                <p>{{ clientes.codigoCliente }}</p>
                <p style="font-weight: bold">Telefone do Cliente</p>
                <p>{{ clientes.telefone }}</p>
            </ion-card>
        </button>
    </ion-list>
</ion-content>
