<ion-header>
  <ion-toolbar>
    <ion-title>{{ dados[0].nome }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p>{{ dados[0].valor }}</p>
  <p>{{ dados[0].codigo }}</p>
</ion-content>
