.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}
.topoTitulo {
  height: 30px;
  font-weight: bold;
  text-align: center;
  font-family: TW Cen MT;
  color: white;
  font-size: 20px;
}
.borda {
  border: 1px solid red;
}

.ion-md-create {
  font-size: 50px;
}

.ion-md-trash {
  font-size: 50px;
}
