<head>
  <link
    href="https://unpkg.com/ionicons@4.5.5/dist/css/ionicons.min.css"
    rel="stylesheet"
  />
</head>

<ion-header style="background:#10dc60">
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>

    <ion-title class="topoTitulo">Estoque</ion-title>
  </ion-buttons>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>

  <ion-grid>
    <ion-list *ngFor="let produto of produtoItem">
      <ion-card>
        <ion-row flex-wrap: nowrap>
          <ion-col size="2">
            <ion-img
              [src]="serviceUrl.urlFoto + produto.foto"
              style="height: 100px; width:150px"
            ></ion-img>
          </ion-col>

          <ion-col size="2">
            <a href="list_produtos/{{ produto.codigo }}">
              <h1 style="margin-top:35px;width:150px">{{ produto.modelo }}</h1>
            </a>
          </ion-col>

          <ion-col size="2">
            <p style="margin-top:20px;">{{ produto.descricao }}</p>
          </ion-col>

          <ion-col offset="4">
            <!-- --gIf="produto.idUserProduto == serviceUser.idUser" -->

            <ion-chip
              color="primary"
              style="height:90px; width:60px;"
              (click)="editProduto(produto)"
            >
              <i class="icon ion-md-create" size="large"> </i>
            </ion-chip>

            <ion-chip
              color="danger"
              (click)="deleteProduto(produto)"
              style="height:90px; width:60px;"
            >
              <i class="icon ion-md-trash"></i>
            </ion-chip>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-list>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="danger" (click)="toProdutos()">
      <ion-icon name="appstore"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
