<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/home"></ion-back-button>
        </ion-buttons>
        <ion-title>Editando Produtos</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-list>
        <form
            [formGroup]="postagem"
            (ngSubmit)="postarProduto()"
        >
            <ion-item>
                <ion-label position="floating">Codigo</ion-label>
                <ion-input
                    disabled="true"
                    type="text"
                    name="codigo"
                    [(ngModel)]="codProd"
                    value="{{codProd}}"
                    formControlName="codProd"
                ></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">Modelo</ion-label>
                <ion-input
                    type="text"
                    name="modelos"
                    [(ngModel)]="modelos"
                    value="{{modelos}}"
                    formControlName="modelos"
                ></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">Valor</ion-label>
                <ion-input
                    type="text"
                    name="valor"
                    [(ngModel)]="valor"
                    value="{{valor}}"
                    formControlName="valor"
                ></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">Descrição</ion-label>
                <ion-input
                    type="text"
                    name="descricao"
                    [(ngModel)]="descricao"
                    value="{{descricao}}"
                    formControlName="descricao"
                ></ion-input>
            </ion-item>

            <ion-item>
                <ion-label>Cor</ion-label>
                <ion-select
                    placeholder="{{cor}}"
                    [(ngModel)]="corSelecionado"
                    formControlName="cores"
                >
                    <ion-select-option
                        name="cores"
                        *ngFor="let cor of aCor"
                        value="{{cor.cod_cor}}"
                    >
                        {{ cor.nome}}
                    </ion-select-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-label>Quantidade</ion-label>
                <ion-select
                    placeholder="{{qtd}}"
                    [(ngModel)]="quantidadeSelecionado"
                    formControlName="qtd"
                >
                    <ion-select-option
                        name="qtd"
                        *ngFor="let quantidade of aQuantidade"
                        value="{{quantidade.cod_qtd}}"
                    >
                        {{ quantidade.quantidade}}
                    </ion-select-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-label>Categoria</ion-label>
                <ion-select
                    placeholder="{{categorias}}"
                    [(ngModel)]="categoriaSelecionado"
                    formControlName="categorias"
                >
                    <ion-select-option
                        name="categorias"
                        *ngFor="let categ of aCateg"
                        value="{{categ.cod_categ}}"
                    >
                        {{ categ.tipo_categ}}
                    </ion-select-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-label>Fornecedor</ion-label>
                <ion-select
                    placeholder="{{fornecedores}}"
                    [(ngModel)]="fornecedorSelecionado"
                    formControlName="fornecedores"
                >
                    <ion-select-option
                        name="fornecedores"
                        *ngFor="let  fornecedor of aFornecedor"
                        value="{{fornecedor.cod_fornecedor}}"
                    >
                        {{ fornecedor.nome_fornecedor}}
                    </ion-select-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-label>Marca</ion-label>
                <ion-select
                    placeholder="{{marcas}}"
                    [(ngModel)]="marcaSelecionado"
                    formControlName="marcas"
                >
                    <ion-select-option
                        name="marcas"
                        *ngFor="let marca of aMarca"
                        value="{{marca.cod_marca}}"
                        ngDefaultControl
                    >
                        {{ marca.nome_marca}}
                    </ion-select-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-label>Palmilha</ion-label>
                <ion-select
                    [(ngModel)]="palmilhaSelecionado"
                    placeholder="{{palmilhas }}"
                    formControlName="palmilhas"
                >
                    <ion-select-option
                        name="palmilhas"
                        *ngFor="let palmilha of aPalmilha"
                        value="{{palmilha.cod_palmilha}}"
                    >
                        {{ palmilha.tipo_palmilha}}
                    </ion-select-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-label>Peso</ion-label>
                <ion-select
                    placeholder="{{pesos}}"
                    [(ngModel)]="pesoSelecionado"
                    formControlName="pesos"
                >
                    <ion-select-option
                        name="pesos"
                        *ngFor="let pesos of aPeso"
                        value="{{pesos.cod_peso}}"
                    >
                        {{ pesos.peso}}
                    </ion-select-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-label>Tamanho</ion-label>
                <ion-select
                    placeholder="{{tamanho}}"
                    [(ngModel)]="tamanhoSelecionado"
                    formControlName="tamanhos"
                >
                    <ion-select-option
                        name="tamanhos"
                        *ngFor="let tamanhos of aTamanho"
                        value="{{ tamanhos.cod_tamanho }}"
                    >
                        {{ tamanhos.tamanho }}
                    </ion-select-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-label>Promocao</ion-label>
                <ion-select
                    placeholder="{{promocoes}}"
                    [(ngModel)]="promocaoSelecionado"
                    formControlName="promocoes"
                >
                    <ion-select-option
                        name="promocoes"
                        *ngFor="let promocao of aPromocao"
                        value="{{promocao.cod_promocao}}"
                    >
                        {{ promocao.nome_promocao}}
                    </ion-select-option>
                </ion-select>
            </ion-item>

            <div style="margin-top: 40px;">

                <ion-button
                    type="submit"
                    expand="full"
                    color="danger"
                    *ngIf="codProd != null"
                >
                    Salvar Edição
                </ion-button>
            </div>

        </form>
        <ion-label position="floating">Codigo</ion-label>
        <ion-input
            type="text"
            [(ngModel)]="codProd"
        ></ion-input>

        <ion-button
            expand="full"
            (click)="nfc()"
        >
            REGISTRE O NUMERO DA TAG
        </ion-button>
    </ion-list>

</ion-content>
