<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/dashboard-unitario"></ion-back-button>
        </ion-buttons>
        <ion-title>Você está analisando o produto: {{id}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <form [formGroup]="dia">
        <ion-item>
            <ion-label>Verificar itens vendidos no ano :</ion-label>
            <ion-select
                cancelText="Nah"
                okText="Okay!"
                [(ngModel)]="anoSelecionado"
                formControlName="anoSelecionado"
                (ionChange)="atualizarUnitario()"
            >
                <ion-select-option value="2015">2015</ion-select-option>
                <ion-select-option value="2016">2016</ion-select-option>
                <ion-select-option value="2017">2017</ion-select-option>
                <ion-select-option value="2018">2018</ion-select-option>
                <ion-select-option value="2019">2019</ion-select-option>

            </ion-select>
        </ion-item>

    </form>
    <ion-col size="9">
        <ion-card>
            <ion-card-header>Line Chart</ion-card-header>
            <ion-card-content>
                <canvas #lineCanvas></canvas>
            </ion-card-content>
        </ion-card>

        <ion-button
            expand="full"
            style="--background:#10dc60; font-weight: bold;"
            (click)="apresentarQuantidadeUnitario()"
        >
            Apresentar dados
        </ion-button>
    </ion-col>
</ion-content>
