<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/caixa"></ion-back-button>
        </ion-buttons>

        <ion-title>Compra do {{ nomeCliente }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <form
            [formGroup]="atualizarCliente"
            (ngSubmit)="atualizarDadosCliente()"
        >
            <ion-item>
                <ion-label position="floating">Nome do Sr(a){{ nomeCliente }}</ion-label>
                <ion-input
                    type="text"
                    name="nomeCliente"
                    [(ngModel)]="nomeCliente"
                    value="{{ nomeCliente }}"
                    formControlName="nomeCliente"
                ></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">Email do Sr(a){{ nomeCliente }}</ion-label>
                <ion-input
                    type="text"
                    name="emailCliente"
                    [(ngModel)]="emailCliente"
                    value="{{ emailCliente }}"
                    formControlName="emailCliente"
                ></ion-input>
            </ion-item>

            <!-- <ion-item>
                <ion-label position="floating">CPF do Sr(a){{ nomeCliente }}</ion-label>
                <ion-input
                    type="text"
                    name="cpfCliente"
                    [(ngModel)]="cpfCliente"
                    value="{{ cpfCliente }}"
                    formControlName="cpfCliente"
                ></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">RG do Sr(a){{ nomeCliente }}</ion-label>
                <ion-input
                    type="text"
                    name="rgCliente"
                    [(ngModel)]="rgCliente"
                    value="{{ rgCliente }}"
                    formControlName="rgCliente"
                ></ion-input>
            </ion-item> -->

            <ion-item>
                <ion-label position="floating">Telefone do Sr(a){{ nomeCliente }}</ion-label>
                <ion-input
                    type="text"
                    name="telefoneCliente"
                    [(ngModel)]="telefoneCliente"
                    value="{{ telefoneCliente }}"
                    formControlName="telefoneCliente"
                ></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">
                    Data de Nascimento do Sr(a){{ nomeCliente }}
                </ion-label>
                <ion-input
                    type="date"
                    name="nascimentoCliente"
                    [(ngModel)]="nascimentoCliente"
                    value="{{ nascimentoCliente }}"
                    formControlName="nascimentoCliente"
                ></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">Endereço do Sr(a){{ nomeCliente }}</ion-label>
                <ion-input
                    type="text"
                    name="enderecoCliente"
                    [(ngModel)]="enderecoCliente"
                    value="{{ enderecoCliente }}"
                    formControlName="enderecoCliente"
                ></ion-input>
            </ion-item>
            <div style="margin-top: 40px;">
                <ion-button
                    type="submit"
                    expand="full"
                    color="danger"
                >
                    Atualizar dados
                </ion-button>
            </div>
        </form>
    </ion-list>

    <ion-grid>
        <ion-list *ngFor="let produto of produtosCliente">
            <ion-card>
                <ion-row
                    flex-wrap:
                    nowrap
                >
                    <ion-col size="2">
                        <ion-img
                            [src]="urlService.urlFoto + produto.foto"
                            style="height: 100px; width:150px"
                        ></ion-img>
                    </ion-col>

                    <ion-col size="2">
                        <h1 style="margin-top:35px;width:150px">{{ produto.modelo }}</h1>
                    </ion-col>

                    <ion-col size="2">
                        <form [formGroup]="atualizarQuantidade">
                            <ion-input
                                type="text"
                                placeholder="Quantidade: {{ produto.quantidadeCarrinho }} "
                                name="qtdProdutos"
                                [(ngModel)]="quantidadeCarrinho"
                                value="{{ quantidadeCarrinho }}"
                                formControlName="quantidadeCarrinho"
                                (ionChange)="atualizarQuantidadeProdutos(produto)"
                            ></ion-input>
                        </form>
                    </ion-col>

                    <ion-col size="2">
                        <p style="margin-top:20px;">Cor: {{ produto.cor }}</p>
                    </ion-col>

                    <ion-col size="2">
                        <p style="margin-top:20px;">Tamanho: {{ produto.tamanho }}</p>
                    </ion-col>

                    <ion-col size="2">
                        <p style="margin-top:20px;">Valor: {{ produto.valor }}</p>
                    </ion-col>

                </ion-row>
            </ion-card>
        </ion-list>
        <p style="text-align: center;font-size:20px;color:gray">Valor total da compra: R${{precoTotal}}</p>
        <ion-button
            type="submit"
            (click)="realizarVenda()"
            color="danger"
        >
            Realizar a venda
        </ion-button>
    </ion-grid>
</ion-content>
