<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cadastro de Funcionários</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <form [formGroup]="cadastrar" (ngSubmit)="cadastrarUsuario()">
      <ion-item>
        <ion-label position="floating">Nome</ion-label>
        <ion-input
          type="text"
          name="nome"
          formControlName="nome"
          [(ngModel)]="nome"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Email do(a) {{ nome }}</ion-label>
        <ion-input
          type="text"
          name="email"
          formControlName="email"
          [(ngModel)]="email"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Senha do(a) {{ nome }}</ion-label>
        <ion-input
          type="password"
          name="senha"
          [(ngModel)]="senha"
          formControlName="senha"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Nivel do(a) {{ nome }}</ion-label>
        <ion-input
          type="text"
          name="nivel"
          formControlName="nivel"
          [(ngModel)]="nivel"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">RG do(a) {{ nome }}</ion-label>
        <ion-input
          type="text"
          name="rg"
          formControlName="rg"
          [(ngModel)]="rg"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">CPF do(a) {{ nome }}</ion-label>
        <ion-input
          type="text"
          name="cpf"
          formControlName="cpf"
          [(ngModel)]="cpf"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Telefone do(a) {{ nome }}</ion-label>
        <ion-input
          type="text"
          name="telefone"
          [(ngModel)]="telefone"
          formControlName="telefone"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Endereço do(a) {{ nome }}</ion-label>
        <ion-input
          type="text"
          name="endereco"
          [(ngModel)]="endereco"
          formControlName="endereco"
        ></ion-input>
      </ion-item>
      <div style="margin-top: 40px;">
        <ion-button type="submit" expand="full" color="success"
          >CADASTRAR NOVO FUNCIONÁRIO</ion-button
        >
      </div>
    </form>
  </ion-list>
</ion-content>
