<ion-content>
  <h1 text-center>
    <img src="../../../assets/loja.png" width="150" height="100" />
  </h1>
  <!-- Cria um form, indicado que ele deve puxar todas as validações e controle que estão no authForm, criado no login.page.ts -->
  <form [formGroup]="autenticando" (onSubmit)="logar()">
    <!-- CONTAINER DO CRIAR CONTA -->
    <!-- Esse "ng-container" não aparece enquanto eu estiver em uma operação de login -->

    <!-- FORMULARIO DE LOGIN -->
    <ion-item>
      <!-- Cria um icone -->
      <ion-icon name="mail" color="success" solot="start"></ion-icon>

      <!-- Cria um input email -->
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="text" name="email" formControlName="email"></ion-input>
      </ion-item>
      <ion-note
        slot="end"
        color="success"
        *ngIf="email.dirty && email.hasError('required')"
      >
        Obrigatório
      </ion-note>

      <ion-note
        slot="end"
        color="danger"
        *ngIf="email.dirty && email.hasError('email')"
      >
        Email invalido
      </ion-note>
    </ion-item>

    <ion-item>
      <ion-icon name="lock" color="success" solot="start"></ion-icon>
      <ion-item>
        <ion-label position="floating">Senha</ion-label>
        <ion-input
          type="password"
          name="senha"
          formControlName="senha"
        ></ion-input>
      </ion-item>
      <ion-note
        slot="end"
        color="danger"
        *ngIf="senha.dirty && senha.hasError('required')"
      >
        Obrigatório
      </ion-note>

      <ion-note
        slot="end"
        color="danger"
        *ngIf="senha.dirty && senha.hasError('minlength')"
      >
        Minimo 6 caracteres
      </ion-note>
    </ion-item>

    <!-- Botão de Login -->

    <ion-button
      expand="block"
      class="btn-login"
      fill="clear"
      color="success"
      (click)="logar()"
      [disabled]="autenticando.invalid"
    >
      {{ configs.action }}
    </ion-button>

    <!-- Desabilitar o botão caso as validações de formulário não sejam atendidas -->
  </form>

  <!-- Botão do facebook
  <ion-button
    expand="block"
    (click)="onSubmit(authProvide.Facebook)"
  >
    <ion-icon
      name="logo-facebook"
      slot="start"
    ></ion-icon>
   Coloca uma logo 
    Login com facebook
  </ion-button> -->

  <!-- Botão de Cadastro -->
  <ion-button
    expand="block"
    class="btn-cadastro"
    fill="clear"
    color="success"
    (click)="changeAuthAction()"
  >
    {{ configs.actionChange }}
  </ion-button>
</ion-content>
