<ion-header style="background:#10dc60">
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>

        <ion-title class="topoTitulo">Métricas de Satisfação e Indicação</ion-title>
    </ion-buttons>
</ion-header>

<ion-fab
    horizontal="end"
    vertical="bottom"
    slot="fixed"
>
    <ion-fab-button
        color="light"
        (click)="updateAll()"
    >
        <ion-icon name="hand"></ion-icon>
    </ion-fab-button>
</ion-fab>

<ion-fab
    horizontal="start"
    vertical="bottom"
    slot="fixed"
>
</ion-fab>
<ion-content padding>
    <form [formGroup]="data">
        <ion-row style="border-bottom: 1px ridge rgb(173, 166, 166);">
            <ion-col
                size="6"
                style="border-left: 1px ridge rgb(173, 166, 166);
  border-right: 1px ridge rgb(173, 166, 166); "
            >
                <ion-select
                    placeholder="Selecione o ano desejado"
                    cancelText="Nah"
                    (ionChange)="atualizarDashboardNPS()"
                    okText="Okay!"
                    [(ngModel)]="anoSelecionado"
                    formControlName="anoSelecionado"
                >
                    <ion-select-option value="2015">2015</ion-select-option>
                    <ion-select-option value="2016">2016</ion-select-option>
                    <ion-select-option value="2017">2017</ion-select-option>
                    <ion-select-option value="2018">2018</ion-select-option>
                    <ion-select-option value="2019">2019</ion-select-option>
                </ion-select>
            </ion-col>
            <ion-col
                size="6"
                style="border-left: 1px ridge rgb(173, 166, 166);
  border-right: 1px ridge rgb(173, 166, 166); "
            >
                <ion-select
                    placeholder="Selecione o mês desejado"
                    cancelText="Nah"
                    (ionChange)="updateAll()"
                    [(ngModel)]="mesSelecionado"
                    formControlName="mesSelecionado"
                >
                    <ion-select-option value="01">Janeiro</ion-select-option>
                    <ion-select-option value="02">Fevereiro</ion-select-option>
                    <ion-select-option value="03">Março</ion-select-option>
                    <ion-select-option value="04">Abril</ion-select-option>
                    <ion-select-option value="05">Maio</ion-select-option>
                    <ion-select-option value="06">Junho</ion-select-option>
                    <ion-select-option value="07">Julho</ion-select-option>
                    <ion-select-option value="08">Agosto</ion-select-option>
                    <ion-select-option value="09">Setembro</ion-select-option>
                    <ion-select-option value="10">Outubro</ion-select-option>
                    <ion-select-option value="11">Novembro</ion-select-option>
                    <ion-select-option value="12">Janeiro</ion-select-option>
                </ion-select>
            </ion-col>
        </ion-row>

        <ion-row style="border-bottom: 1px ridge rgb(173, 166, 166);
   ">
            <ion-col size="6">
                <ion-card-header style="color:gray;">Métricas de Indicação</ion-card-header>
                <ion-card-content>
                    <canvas #lineCanvas></canvas>
                </ion-card-content>
            </ion-col>
            <ion-col size="6">
                <ion-card>
                    <ion-card-header style="color:gray;">Métricas de Satisfação</ion-card-header>
                    <ion-card-content>
                        <canvas #barCanvas></canvas>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </form>
</ion-content>
