<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/selecionados"></ion-back-button>
        </ion-buttons>
        <ion-title>Produtos do {{ nome }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-refresher
        slot="fixed"
        (ionRefresh)="doRefresh($event)"
    >
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-grid>
        <ion-card>
            <ion-list *ngFor="let produto of produtosCliente">
                <ion-row
                    flex-wrap:
                    nowrap
                >
                    <ion-col size="2">
                        <p style="font-weight: bold;">Foto</p>
                        <ion-img
                            [src]="urlService.urlFoto + produto.foto"
                            style="height: 100px; width:100px"
                        ></ion-img>
                    </ion-col>

                    <ion-col size="2">
                        <p style="font-weight: bold;">Modelo</p>

                        <h1>{{ produto.modelo }}</h1>

                    </ion-col>

                    <ion-col size="2">
                        <p style="font-weight: bold;">Descricao</p>
                        <p>{{ produto.descricao }}</p>
                    </ion-col>

                    <ion-col size="2">
                        <p style="font-weight: bold;">Categoria</p>
                        <p>{{ produto.categoria }}</p>
                    </ion-col>

                    <ion-col size="2">
                        <p style="font-weight: bold;">Marca</p>
                        <p>{{ produto.marca }}</p>
                    </ion-col>

                    <ion-col size="2">
                        <p style="font-weight: bold;">Cor</p>
                        <p>{{ produto.cor }}</p>
                        <p style="font-weight: bold;">Tamanho</p>
                        <p>{{ produto.tamanho }}</p>
                        <p style="font-weight: bold;">Quantidade</p>
                        <p>{{ produto.quantidade }}</p>
                    </ion-col>
                </ion-row>
            </ion-list>
        </ion-card>
    </ion-grid>

    <ion-content padding>
        <ion-card>
            <ion-item>
                <div>
                    <span class="codigo">
                        <p>
                            O código do {{ nome }} é: {{ codCliente }}
                        </p>
                    </span>
                </div>
            </ion-item>
        </ion-card>

        <ion-button
            type="submit"
            expand="full"
            color="success"
            (click)="entregar()"
        >
            O produto foi entregue
        </ion-button>
    </ion-content>
</ion-content>
