<head>
    <link href="https://unpkg.com/ionicons@4.5.5/dist/css/ionicons.min.css" rel="stylesheet">
</head>

<ion-header style="background:#10dc60">
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>

        <ion-title class="topoTitulo">Produtos mais vendidos</ion-title>
    </ion-buttons>
</ion-header>

<ion-content>
    <ion-refresher
        slot="fixed"
        (ionRefresh)="doRefresh($event)"
    >
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>

    <ion-grid>
        <ion-list *ngFor="let produto of produtoItem">

            <ion-col size="12">
                <ion-card>
                    <ion-row
                        flex-wrap:
                        nowrap
                    >
                        <ion-button
                            style="--background:#10dc60; height: 100%;"
                            (click)="mandaId(produto)"
                        >
                            <p style="font-size: 30px;">#{{produto.top}}</p>
                        </ion-button>
                        <ion-col size="2">
                            <ion-img
                                [src]="serviceUrl.urlFoto + produto.foto"
                                style="height: 100px; width:150px"
                            ></ion-img>
                        </ion-col>

                        <ion-col size="2">

                            <h1 style="margin-top:35px;width:150px">{{ produto.modelo }}</h1>

                        </ion-col>

                        <ion-col size="2">
                            <p style="margin-top:20px;">{{ produto.descricao }}</p>
                        </ion-col>

                    </ion-row>
                </ion-card>

            </ion-col>

        </ion-list>
    </ion-grid>

    <ion-fab
        vertical="bottom"
        horizontal="end"
        slot="fixed"
    >

    </ion-fab>
</ion-content>
