<ion-header style="background:#10dc60">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/home"></ion-back-button>
        </ion-buttons>

        <ion-title class="topoTitulo">Dashboard</ion-title>
    </ion-toolbar>
</ion-header>
<p>AZUL ESCURO - TOTAL DE ITENS VENDIDOS</p>
<br>
<p>
    AZUL claro - TOTAL DE ITENS NO INTERVALO DE TEMPO DETERMINADO
</p>
<br>
<p>
    ROXO - TOTAL DE ITENS NO DIA DETERMINADO
</p>
<p>
    verde - TOTAL DE ITENS NO MÊS E ANO DETERMINADO
</p>

<ion-content padding>

    <!-- AZUL ESCURO - TOTAL DE ITENS VENDIDOS -->
    Todos os itens vendidos da loja
    <ion-button
        (click)="apresentarQuantidade()"
        color="primary"
        expand="full"
    >
        MOSTRAR DADOS
    </ion-button>
    <span style="text-transform:capitalize">
        Quantidade Total de Itens vendidos: 
      {{ qtdTotal }}
    </span>
    <form [formGroup]="dia">
        <!-- AZUL ESCURO - TOTAL DE ITENS VENDIDOS -->
        <br>
        <br>

        <!-- AZUL claro - TOTAL DE ITENS NO INTERVALO DE TEMPO DETERMINADO -->
        <p>
            Verificar itens vendidos no intervalo de tempo :{{data_inicial}} até {{data_final}}
        </p>

        <p>Data inicial:</p>
        <ion-input
            type="date"
            [(ngModel)]="data_inicial"
            value="{{ data_inicial}}"
            formControlName="data_inicial"
        ></ion-input>
        <p>Data final:</p>
        <ion-input
            type="date"
            [(ngModel)]="data_final"
            value="{{ data_final}}"
            formControlName="data_final"
        ></ion-input>
        <ion-button
            (click)="apresentarQuantidadeTempo()"
            color="secondary"
            expand="full"
        >
            MOSTRAR DADOS
        </ion-button>
        <span style="text-transform:capitalize">
            Quantidade Total de Itens vendidos no tempo: 
      {{ qtdTempo }}
        </span>
        <!-- AZUL claro - TOTAL DE ITENS NO INTERVALO DE TEMPO DETERMINADO -->
        <br>
        <br>
        <br>
        <br>
        <br>
        <!-- ROXO - TOTAL DE ITENS NO DIA DETERMINADO -->
        <p>
            Verificar itens vendidos no dia :{{dataSelecionada}}
        </p>

        <p>Data:</p>
        <ion-input
            type="date"
            [(ngModel)]="dataSelecionada"
            value="{{ dataSelecionada}}"
            formControlName="dataSelecionada"
        ></ion-input>

        <span style="text-transform:capitalize">
            <ion-button
                (click)="apresentarQuantidadeDiaria()"
                color="tertiary"
                expand="full"
            >
                MOSTRAR DADOS
            </ion-button>
            Quantidade Total de Itens vendidos no dia: 
      {{ qtdDiaria }}
        </span>
        <!-- ROXO - TOTAL DE ITENS NO DIA DETERMINADO -->
        <br>
        <br>
        <br>
        <br>
        <!-- VERDE - TOTAL DE ITENS NO MÊS E ANO DETERMINADO -->
        <ion-item>
            <ion-label>Verificar itens vendidos no mês :</ion-label>
            <ion-select
                cancelText="Nah"
                okText="Okay!"
                [(ngModel)]="mesSelecionado"
                formControlName="mesSelecionado"
            >
                <ion-select-option value="01">Janeiro</ion-select-option>
                <ion-select-option value="02">Fevereiro</ion-select-option>
                <ion-select-option value="03">Março</ion-select-option>
                <ion-select-option value="04">Abril</ion-select-option>
                <ion-select-option value="05">Maio</ion-select-option>
                <ion-select-option value="06">Junho</ion-select-option>
                <ion-select-option value="07">Julho</ion-select-option>
                <ion-select-option value="08">Agosto</ion-select-option>
                <ion-select-option value="09">Setembro</ion-select-option>
                <ion-select-option value="10">Outubro</ion-select-option>
                <ion-select-option value="11">Novembro</ion-select-option>
                <ion-select-option value="12">Janeiro</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>e no ano :</ion-label>
            <ion-select
                cancelText="Nah"
                okText="Okay!"
                [(ngModel)]="anoSelecionado"
                formControlName="anoSelecionado"
            >
                <ion-select-option value="2015">2015</ion-select-option>
                <ion-select-option value="2016">2016</ion-select-option>
                <ion-select-option value="2017">2017</ion-select-option>
                <ion-select-option value="2018">2018</ion-select-option>
                <ion-select-option value="2019">2019</ion-select-option>

            </ion-select>
        </ion-item>

        <ion-button
            (click)="apresentarQuantidadeMensal()"
            color="success"
            expand="full"
        >
            MOSTRAR DADOS
        </ion-button>
        <span style="text-transform:capitalize">
            Quantidade Total de Itens vendidos no mês: 
      {{ qtdMensal }}
        </span>

        <!-- VERDE - TOTAL DE ITENS NO MÊS E ANO DETERMINADO -->

        <br>
        <br>
        <br>
        <br>
        <!-- AMARELO - TOTAL DE ITENS NO MÊS E ANO DETERMINADO -->

        <ion-item>
            <ion-label>Verificar itens vendidos no ano :</ion-label>
            <ion-select
                cancelText="Nah"
                okText="Okay!"
                [(ngModel)]="anoSelecionado"
                formControlName="anoSelecionado"
            >
                <ion-select-option value="2015">2015</ion-select-option>
                <ion-select-option value="2016">2016</ion-select-option>
                <ion-select-option value="2017">2017</ion-select-option>
                <ion-select-option value="2018">2018</ion-select-option>
                <ion-select-option value="2019">2019</ion-select-option>

            </ion-select>
        </ion-item>

        <ion-button
            (click)="apresentarQuantidadeAnual()"
            color="warning"
            expand="full"
        >
            MOSTRAR DADOS
        </ion-button>
        <span style="text-transform:capitalize">
            Quantidade Total de Itens vendidos no ano: 
      {{ qtdAnual }}
        </span>

        <!-- AMARELO - TOTAL DE ITENS NO MÊS E ANO DETERMINADO -->
    </form>
</ion-content>
