<ion-header style="background:#10dc60">
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>

        <ion-title class="topoTitulo">
            Aqui estão os produtos que devem ser retirados do estoque
        </ion-title>
    </ion-buttons>
</ion-header>

<ion-content padding>
    <ion-refresher
        slot="fixed"
        (ionRefresh)="doRefresh($event)"
    >
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-grid>
        <ion-list *ngFor="let produto of produtosCliente">
            <ion-card>
                <ion-row
                    flex-wrap:
                    nowrap
                >
                    <ion-col size="2">
                        <ion-img
                            [src]="urlService.urlFoto + produto.foto"
                            style="height: 100px; width:150px"
                        ></ion-img>
                    </ion-col>

                    <ion-col size="2">
                        <h1 style="margin-top:35px;width:150px">{{ produto.modelo }}</h1>
                    </ion-col>

                    <ion-col size="2">
                        <p style="margin-top:20px;">
                            Quantidade: {{ produto.quantidadeCarrinho }}
                        </p>
                        <!-- <form [formGroup]="atualizarQuantidade">
                            <ion-input
                                type="text"
                                placeholder="Quantidade: {{ produto.quantidadeCarrinho }} "
                                name="qtdProdutos"
                                [(ngModel)]="quantidadeCarrinho"
                                value="{{ quantidadeCarrinho }}"
                                formControlName="quantidadeCarrinho"
                            ></ion-input>
                           // <ion-button (click)="atualizarQuantidadeProdutos(produto)">Atualizar QTD</ion-button>
                        </form> -->
                    </ion-col>

                    <ion-col size="2">
                        <p style="margin-top:20px;">Cor: {{ produto.cor }}</p>
                    </ion-col>

                    <ion-col size="2">
                        <p style="margin-top:20px;">Tamanho: {{ produto.tamanho }}</p>
                    </ion-col>

                    <ion-col size="2">
                        <p style="margin-top:20px;">Valor: {{ produto.valor }}</p>
                    </ion-col>
                </ion-row>
            </ion-card>

            <ion-button
                type="submit"
                (click)="voltarEstoque( produto, $event)"
                style="--background:#25a834; font-weight: bold;"
            >
                Dar baixa no Estoque
            </ion-button>
        </ion-list>
    </ion-grid>
    <ion-button
        type="submit"
        (click)="voltarHome()"
        color="success"
        expand="full"
    >
        Voltar para o estoque
    </ion-button>
</ion-content>
