* {
  font-family: "Calibri Light";
  font-size: 23px;
  color: rgb(173, 166, 166);
  font-style: bold;
}

.borda1-1 {
  border-left: 1px ridge rgb(173, 166, 166);
  border-right: 1px ridge rgb(173, 166, 166);
  font-family: "Calibri Light";
  font-size: 23px;
}
.borda1-2 {
}
.borda1-3 {
  border-right: 1px ridge rgb(173, 166, 166);
  border-left: 1px ridge rgb(173, 166, 166);
  position: absolute;

  height: 125px;
  right: 0px;
}
.borda-total {
  border-bottom: 1px ridge rgb(173, 166, 166);
}

.borda-totalGrafico {
  border-bottom: 1px ridge rgb(173, 166, 166);
  border-top: 1px ridge rgb(173, 166, 166);
}

.borda-diario {
  border-right: 1px ridge rgb(173, 166, 166);
}
.borda-mensal {
  border-left: 1px ridge rgb(173, 166, 166);
}

.topoTitulo {
  height: 30px;
  font-weight: bold;
  text-align: center;
  font-family: TW Cen MT;
  color: white;
  font-size: 20px;
}
