<ion-header style="background:#10dc60">
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>

        <ion-title class="topoTitulo">Dashboard de Vendas e Quantidades</ion-title>
    </ion-buttons>
</ion-header>

<ion-fab
    horizontal="end"
    vertical="bottom"
    slot="fixed"
>
    <ion-fab-button
        (click)="apresentarAll()"
        color="success"
    >
        <ion-icon name="hand"></ion-icon>
    </ion-fab-button>
</ion-fab>

<ion-content>
    <form [formGroup]="dia">
        <div
            class="ion-padding"
            class="borda-total"
        >
            <ion-row style>
                <ion-col
                    size="3"
                    class="borda1-1"
                >
                    Sua loja realizou {{ qtdDia }} vendas no dia
                    <ion-input
                        (ionChange)="apresentarQTDDIA()"
                        type="date"
                        [(ngModel)]="dataSelecionada"
                        value="{{ dataSelecionada }}"
                        formControlName="dataSelecionada"
                    ></ion-input>
                </ion-col>
                <ion-col
                    size="4"
                    class="borda1-2"
                >
                    <p style="text-align:center; margin-left:50px;font-size:20px;">
                        Selecione o dia, o mês ou o ano do qual você deseja analisar as informações-
                    </p>
                </ion-col>
                <ion-col
                    size="4"
                    class="borda1-3"
                >
                    <ion-row style="height: 15px;">
                        <p style="margin-top:40px; margin-left:60px;font-size:20px;">{{data}}</p>

                    </ion-row>
                </ion-col>
            </ion-row>
        </div>

        <ion-row>
            <ion-col size="6">
                Média de Produtos vendidos mensalmente
                <br>
                <br>
                {{ mediaMensalQTD }}
            </ion-col>
            <ion-col size="6">
                Média de faturamento mensal
                <br>
                <br>
                R${{ mediaMensalVendas }}
            </ion-col>
        </ion-row>
        <ion-row class="borda-totalGrafico">
            <ion-col
                size="6"
                class="borda-diario"
            >
                <ion-card>
                    <ion-card-header style="background:white;">Gráfico Diário</ion-card-header>
                    <ion-card-content style="background:white;">
                        <canvas #lineCanvas></canvas>
                    </ion-card-content>
                </ion-card>
            </ion-col>

            <ion-col
                size="6"
                class="borda-mensal"
            >
                <ion-card>
                    <ion-card-header>Gráfico Mensal</ion-card-header>
                    <ion-card-content>
                        <canvas #lineCanvas2></canvas>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </form>

    <ion-card>
        <ion-card-header>Gráfico Anual</ion-card-header>
        <ion-card-content>
            <canvas #lineCanvas3></canvas>
        </ion-card-content>
    </ion-card>
</ion-content>
